matplotlib
numpy
omegaconf>=2.0.1
onnx==1.11.1
onnxruntime
onnx-simplifier>=0.4.1
opencv-python
pyaml
pytorch-lightning>=1.9.0
tabulate
tensorboard
termcolor
torch>=1.13
torchmetrics
torchvision
Pillow
tqdm
yacs
